In [19]:
import pandas as pd
import numpy as np
from IPython.display import display
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [20]:
data =pd.read_csv("titanic_data.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
y = data['Survived']
features_raw = data.drop('Survived', axis = 1)

In [22]:
display(features_raw.head())
display(y.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [23]:
features_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [24]:
features = pd.get_dummies(features_raw)

In [25]:
features = features.fillna(0.0)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
X_train, X_test, y_train, y_test = train_test_split(features, y, test_size=0.2, random_state=42)

In [28]:
model = DecisionTreeClassifier()

In [30]:
model.fit(X_train, y_train)
X_train_pred = model.predict(X_train)
X_test_pred  = model.predict(X_test)

In [32]:
model.score(X_test, y_test)

0.8156424581005587

In [92]:
def func(i, j, k):
    model = DecisionTreeClassifier(max_depth = i, min_samples_leaf = j, min_samples_split = k)
    model.fit(X_train, y_train)
    X_test_pred  = model.predict(X_test)
    score = model.score(X_test, y_test)
    print(score)
    return score

In [104]:
i_val = 0
j_val = 0
k_val = 0
score_init = 0
for i in range(1,7):
    for j in range(1,10):
        for k in range(2,10):
            score = func(i, j, k)
            if score > score_init:
                score_init = score
                i_val = i
                j_val = j
                k_val = k
            
            else:
                pass
            
print(i_val, j_val, k_val)

0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7821229050279329
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7653631284916201
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.8044692737430168
0.7988826815642458
0.8044692737430168
0.8044692737430168
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.8044692737430168
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7932960893854749
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.7988826815642458
0.8100558659217877
0.8100558659217877
0.8156424581005587
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8156424581005587
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8100558659217877
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8044692737430168
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8156424581005587
0.8212290502793296
0.8156424581005587
0.8156424581005587
0.8212290502793296
0.8268156424581006
0.8212290502793296
0.8212290502793296
0.8156424581005587
0.8044692737430168
0.8156424581005587
0.8100558659217877
0.8044692737430168
0.8100558659217877
0.8212290502793296
0.8212290502793296
0.8156424581005587
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8379888268156425
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8547486033519553
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8435754189944135
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
0.8324022346368715
6 5 2

In [105]:
func(i_val, j_val, k_val)

0.8547486033519553

0.8547486033519553